{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}


{% block body %}
    <div class="container-xl">
        <div class="jumbotron mt-3">
            <h1 class="display-4">Bienvenue sur mon Portfolio</h1>
            <p class="lead">Site ayant pour objectif de montrer mes compétences à développer.</p>
            <hr class="my-4">
            <p>Je vous invites à parcourir ce site afin d'en comprendre l'utilité</p>
            <p class="lead text-right">
                <a class="btn btn-primary btn-lg" href="#" role="button">Les différentes formules</a>
            </p>
        </div>


        <h2 class="h1 mt-3 mb-3">Mes formules les plus vues</h2>

        <div class="row">
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        <p>Ecoute et conseil, <strong>49&euro;</strong> 1 heure</p>
                        <small>pas encore noté</small>
                    </div>

                    <img src="http://placehold.it/1000x400" alt="Image de content"
                         style="height: 200px; width:100%; display: block;"/>

                    <div class="card-body">
                        <h4 class="card-title">
                            Formule a ne pas louper
                        </h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto
                            asperiores
                            atque aut consequatur corporis illum, iste quibusdam soluta tempore voluptatibus?</p>
                        <a href="" class="btn btn-secondary">En savoir plus</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        <p>Ecoute et conseil, <strong>49&euro;</strong> 1 heure</p>
                        <small>pas encore noté</small>
                    </div>

                    <img src="http://placehold.it/1000x400" alt="Image de content"
                         style="height: 200px; width:100%; display: block;"/>

                    <div class="card-body">
                        <h4 class="card-title">
                            Formule a ne pas louper
                        </h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto
                            asperiores
                            atque aut consequatur corporis illum, iste quibusdam soluta tempore voluptatibus?</p>
                        <a href="" class="btn btn-secondary">En savoir plus</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        <p>Ecoute et conseil, <strong>49&euro;</strong> 1 heure</p>
                        <small>pas encore noté</small>
                    </div>

                    <img src="http://placehold.it/1000x400" alt="Image de content"
                         style="height: 200px; width:100%; display: block;"/>

                    <div class="card-body">
                        <h4 class="card-title">
                            Formule a ne pas louper
                        </h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto
                            asperiores
                            atque aut consequatur corporis illum, iste quibusdam soluta tempore voluptatibus?</p>
                        <a href="" class="btn btn-secondary">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="h1 mt-4 mb-4">Nos propriétaires stars !</h2>

        <div class="row">
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Alexandre COURBOIS</h4>
                        <hr>
                        <div class="card-text">
                            <img src="http://placehold.it/64x64" alt="avatar de alexandre courbois"
                                 class="float-left mr-3">
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, voluptatibus?</p>
                        <a href="" class="btn btn-sucess float-right">En savoir plus!</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Alexandre COURBOIS</h4>
                        <hr>
                        <div class="card-text">
                            <img src="http://placehold.it/64x64" alt="avatar de alexandre courbois"
                                 class="float-left mr-3">
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, voluptatibus?</p>
                        <a href="" class="btn btn-sucess float-right">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
