{% extends 'base.html.twig' %}

{% block title %}Mes formules{% endblock %}

{% block body %}
    <div class="container-xl">

        <p class="h1 text-center my-5 "><u>Nos annonces :</u></p>

        <div class="row">
            {% for annonce in annonces %}
                {% include 'annonce/_annonce.html.twig' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
