<footer class="bg-dark bg-primary py-3">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h3 class="text-left">Company</h3>
                <p><a href="">Accueil</a></p>
                <p><a href="">Annonces</a></p>
                <p><a href="">Inscription</a></p>
            </div>
            <div class="col-sm">
                <h3>Company</h3>
                <p><a href=""></a></p>
                <p><a href=""></a></p>
                <p><a href=""></a></p>
            </div>
            <div class="col-sm">
                <h3>Company</h3>
                <p><a href=""></a></p>
                <p><a href=""></a></p>
                <p><a href=""></a></p>
            </div>
        </div>
    </div>
    <div class="trait"></div>
    <div>
        <p class="text-center copyright">SymBNB &copy; - 2020 edition</p>
    </div>
    {% block footer %}{% endblock %}
</footer>
</html>